{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='credit_card_details.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/"><i class="fas fa-tractor"></i>FreshFarmFinds</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="{{ url_for('main.home') }}"><i class="fas fa-home"></i> Home</a>
                  <a class="nav-item nav-link" href="{{ url_for('main.shop') }}"><i class="fas fa-shopping-cart"></i> Shop</a>
                  <a class="nav-item nav-link" href="{{ url_for('main.about') }}"><i class="fas fa-info-circle"></i> About Us</a>
                  <a class="nav-item nav-link" href="{{ url_for('main.contact') }}"><i class="fas fa-envelope"></i> Contact Us</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('main.billing') }}"><i class="fas fa-arrow-left "></i> Back</a>
              </div>
            
            </div>
          </div>
        </nav>
    </header>
    <div class="content-section" style="margin-top: 80px; margin-bottom: 80px;">
        <div class="container mt-5">
            <form method="POST" action="/paytm_details">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Paytm Details</legend>
                  <!-- Include Paytm form fields -->
                  <div class="form-group">
                      {{ form.paytm_id.label(class="form-control-label") }}
                      {% if form.paytm_id.errors %}
                          {{ form.paytm_id(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.paytm_id.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.paytm_id(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                      {{ form.phone_number.label(class="form-control-label") }}
                      {% if form.phone_number.errors %}
                          {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.phone_number.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.phone_number(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                      {{ form.pin.label(class="form-control-label") }}
                      {% if form.pin.errors %}
                          {{ form.pin(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.pin.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.pin(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
              </fieldset>
              <div class="form-group">
                  {{ form.submit_paytm(class="btn btn-outline-info") }}
              </div>
          </form>
        </div>
    </div>
    <footer class="text-center text-lg-start text-white" style="background-color:#343a40; width: 100%;">
        <div class="footer-container p-4 pb-0">
            <section class="">
                <div class="row footer-row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Fresh Farm Finds</h6>
                        <p>
                            Explore a variety of fruits, vegetables, and other farm finds directly from 
                            local growers. Our commitment to freshness ensures you get the best quality produce.
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p><a class="text-white">Fruits</a></p>
                        <p><a class="text-white">Vegetables</a></p>
                        <p><a class="text-white">Dry Fruits</a></p>
                        <p></p><a class="text-white">dairy Products</a></p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                        <p><a class="text-white">Your Account</a></p>
                        <p><a class="text-white">Become an Affiliate</a></p>
                        <p><a class="text-white">Shipping Rates</a></p>
                        <p><a class="text-white">Help</a></p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i>Kalavakam,OMR,Chennai,TN</p>
                        <p><i class="fas fa-envelope mr-3"></i>FreshFarmFinds@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i>+ 91 95978 89023</p>
                        <p><i class="fas fa-print mr-3"></i>+ 0424 234 567</p>
                    </div>
                </div>
            </section>
            <hr class="my-3">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <div class="p-3">
                            © 2023 Copyright:
                            <a class="text-white" href="{{ url_for('main.home') }}">FreshFarmFinds</a>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fab fa-google"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fab fa-js"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
